<footer class="p-4 bg-blue-900 text-gray-300 shadow">
  <div class="flex flex-row justify-between">
    <div>
      <p class="text-md">{{ site.title | escape }}</p>
      <p class="text-thin text-sm">{{ site.description | escape }}</p>
    </div>

    <div>
      <div>
        <div class="flex flex-row">
          {% if site.github_username %}
            <div class="flex flex-row">{% include icon-github.html username=site.github_username %}</div>
          {% endif %}
        </div>
        <div class="flex flex-row">
          {% if site.twitter_username %}
            <div class="flex flex-row">{% include icon-twitter.html username=site.twitter_username %}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>
