<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
      <div class="md:sticky md:top-0 md:z-20 bg-sblue">
        <div class="m-2 rounded-md p-3 text-white">
          <div class="flex flex-row sm:justify-between md:justify-between lg:justify-between xl:justify-between">
            <div class="hidden invisible xs:invisible sm:visible md:visible lg:visible xl:visible sm:block md:block lg:block xl:block"><a href="{% link index.md %}">Sebastian Jimenez | Software Engineer</a></div>
            <div class="flex flex-col xs:flex-row sm:flex-row md:flex-row lg:flex-row xl:flex-row">
              <div class="mr-5"><a href="{% link index.md %}">Home</a></div>
              <div class="mr-5"><a href="{% link blog.md %}">Posts</a></div>
              <div class="mr-5"><a href="{% link resume.md %}">Resume</a></div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</header>
