---
layout: default
---

<div class="flex flex-col justify-center items-center text-white">
  <div class="max-w-6xl px-5">
    <div class="text-3xl">Posts</div>
    {{ content }}
    <div class="pt-4">
      {% for post in site.posts %}
        <div class="text-sblue my-2 rounded-md bg-white shadow-md p-3">
          <span class="font-regular">{{ post.date | date: "%b %-d, %Y" }}</span>

          <div><a class="text-xl underline" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></div>
        </div>
      {% endfor %}
    </div>

    <p class="font-light py-3">subscribe <a class="underline" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
</div>
